/*
* @Author: ow
* @Date:   2017-12-31 19:11:02
* @Last Modified by:   ow
* @Last Modified time: 2018-01-10 15:55:26
*/
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
@font-face {
  font-family: 'iconfont';  /* project id 526787 */
  src: url('https://at.alicdn.com/t/font_526787_s7sg57dtay4g3nmi.eot');
  src: url('https://at.alicdn.com/t/font_526787_s7sg57dtay4g3nmi.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_526787_s7sg57dtay4g3nmi.woff') format('woff'),
  url('https://at.alicdn.com/t/font_526787_s7sg57dtay4g3nmi.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_526787_s7sg57dtay4g3nmi.svg#iconfont') format('svg');
}
.iconfont{
    font-family: 'iconfont';	
}
i{
	font-style: normal;
}
aside{
	width: 35px;
    height: 100%;
    background: #383838;
    float: right;
    position: fixed;
    bottom: 0;
    right: 0;
}
/* 头部开始 */
.icon1{
    float: left;
    margin: 3px 0 0 3px;
    font-size: 20px;
    color: #666666;
}
.icon2{
	float: left;
    font-size: 15px;
    color: #ffaa00;
}
.icon3{
	float: left;
    font-size: 30px;
    color: #bfbfbf;
}
.toubu{
	width:100%;
	height:36px;
	background: #f5f5f5;
}
.main{
	width: 1190px;
	height: 100%;
	/* background: yellow; */
	margin: 0 auto;
}
.toubu-left1{
	width: 332px;
	height: 100%;
	/* background: pink; */
	float: left;
}
.toubu-left{
	width: 245px;
	height: 100%;
	/* background: pink; */
	text-align: center;
	line-height:36px;
	float: left;
}
.toubu-left li{
	width: 79px;
	height: 35px;
	background: #f5f5f5;
    float: left;
    border-top: 1px solid #f5f5f5;
    border-left: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
}
.toubu-left li:hover{
    border-top: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    background: #ffffff;
}
.toubu-left li:nth-child(2):hover .wenzi{
	color: #ff6600;
}
.taiyuan{
	width: 81px;
	height: 36px;
	background: #f5f5f5;
    float: left;
    line-height: 36px;
    margin-left: 6px;
}
.wenzi{
	font-size: 11px;
    color: #666666;
    float: left;
    margin-left: 7px;
}
.toubu-right{
	width: 640px;
	height: 100%;
	/* background: pink; */
	float: right;
	line-height: 36px;
}
.right1{
	display: block;
	font-size: 11px;
	color: #666666;
    float: left;
    margin:0 8px 0;
}
.right1:first-child{
	margin:0 13px 0 0;
}
.right1:hover{
    color: #ff6600;
}
.right2{
	display: block;
	font-size: 11px;
	color: #ff6600;
    float: left;
    margin-right: 8px;
}
.right3{
	width: 79px;
	height: 35px;
	background: #f5f5f5;
	text-align: center;
    float: left;
    border-top: 1px solid #f5f5f5;
    border-left: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
}
.right3:nth-child(6){
	width: 95px;
}
.right3:nth-child(6) .wenzi{
    color: #ff6600;
}
.right3:nth-child(6) .icon4{
	float: left;
    margin-left:3px;
    font-size: 15px;
	color: #ff6600;
}
.right3:hover{
    border-top: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    background: #ffffff;
}
.right3:hover .wenzi{
	color: #ff6600;
}
/* 头部结束 */
/* 搜索开始 */
.sousuo{
	width: 1190px;
	height: 110px;
	/* background: pink; */
	margin: 0 auto;
	overflow: hidden;
}
.sousuo-left{
	display: block;
	float: left;
}
.sousuo-center{
	width: 540px;
	height: 80px;
	/* background: lightgoldenrodyellow; */
	float: left;
	margin: 30px 200px 0 170px;
}
.sousuo-center-top{
	width: 100%;
	height: 40px;
	/* background: yellow; */
}
.sousuo-center-top1{
	width: 418px;
	height: 36px;
	/* background: green; */
	border-top: 2px solid #ffaa00;
	border-left: 2px solid #ffaa00;
	border-bottom: 2px solid #ffaa00;
	float: left;
	line-height: 36px;
}
.sousuo-center-top2{
	display: block;
	width: 120px;
	height: 100%;
	background: #ff9900;
	float: right;
}
.wenzi12{
    font-size: 18px;
	color: #ffffff;
	text-align: center;
	line-height: 40px;
}
.sousuo-center-top2:hover{
	background: #ff8800;
}
.icon5{
	font-size: 12px;
	float: left;
	color: #bbbbbb;
	margin-left: 9px;
}
.wenzi11{
	font-size: 11px;
	color: #bbbbbb;
	float: left;
	margin-left: 5px;
}
.wenzi13{
	display: block;
	font-size: 11px;
	color: #999999;
	margin: 8px 13px 0 0;
	float: left;
}
.wenzi13:hover{
	color: #ffaa00;
}
.sousuo-right{
	width: 90px;
	height: 90px;
	background: black;
	float: right;
	margin: 10px auto;
}
/* 搜索结束 */
/* 导航开始 */
.daohang{
	width: 1190px;
	height: 38px;
	/* background: yellow; */
	margin: 0 auto;
}
.daohang-left{
	width: 190px;
	height: 38px;
	background: #ff9900;
	float: left;
	line-height: 38px;
}
.daohang-left:hover{
    background: #ff8800;
}
.icon6{
	font-size: 10px;
	color: #ffffff;
	margin: 0 6px 0 9px;
	float: left;
}
.wenzi111{
	float: left;
    font-size: 12px;
    color: #ffffff;
}
.daohang-wenzi{
    width: 770px;
    height: 38px;
    background: #ffffff;
    float: left;
}
.wenzi112{
	display: block;
	font-size: 15px;
	color: #333333;
	float: left;
	line-height: 38px;
	margin: 0 15px 0;
}
.wenzi112:hover{
    color: #ff8800;
}
.daohang-right{
	display: block;
	width: 170px;
	height: 38px;
	background: black;
	float: right;
}
/* 导航结束 */
/* banner开始 */
.banner{
	width: 100%;
	height: 440px;
	/* background: green; */
}
.banner-left{
	width: 80px;
	height: 100%;
	background: url('../img/b-l1.png') no-repeat center center;
	float: left;
}
.banner-right{
	width: 40px;
	height: 100%;
	float: left;
}
.celan{
	width: 190px;
	height: 100%;
	background: white;
	float: left;
}
.celan-li{
	width: 100%;
	height: 32px;
	background: #252221;
	line-height: 32px;
}
.celan-li:first-child{
	border-top: 1px solid #252221;
}
.celan-li:last-child{
	border-bottom: 1px solid #252221;
}
.celan-li:hover{
    background: #ffffff;
}
.celan-li:hover .wenzi1111{
	color: #333333;
}
.celan-li .wenzi1111:hover{
	color: #ff9900;
}
.celan-li:hover .wenzi1112{
	color: #333333;
}
.icon7{
	font-size: 11px;
	color: #fea900;
	float: left;
	margin: 0 3px 0 10px;
}
.wenzi1111{
	display: block;
	font-size: 11px;
	color: #ffffff;
	margin:0 2px 0 5px;
	float: left;
}
.wenzi1112{
	font-size: 11px;
	color: #ffffff;
	float: left;
}
.li1{
	height: 31px;
	line-height: 31px;
}
.bannertu{
	width: 830px;
	height: 100%;
	background: black;
	float: left;
	position: relative;
}
.bannerpic li{
    position: absolute; 
    left: 0;
    top: 0;
}

.banner-a1{
	width: 150px;
	height: 213px;
	background: rgba(255, 255, 255, 0.5);
	position: absolute;
	top: 5px;
	right: 5px;
}
.ab2{
	position: absolute;
	top: 222px;
}
.banner-a1:hover{
	background: rgba(255, 255, 255, 0.8);
}
.wenzi1113{
	font-size: 11px;
	color: #333333;
	margin: 23px 0 0 20px;
}
.wenzi1114{
	font-size: 11px;
	color: #666666;
	margin: 6px 0 0 20px;
}
.banner-a1 img{
	width: 122px;
	height: 122px;
	margin: 25px 15px 15px;
}
.banner:hover .jiantoudi{
	width: 30px;
	height: 64px;
	background:rgba(0,0,0,0.3);
	float: left;
	line-height: 64px;
	text-align: center;
	position: absolute;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
}
.right{
	right: 0;
}
.lunbodian{
	width: 213px;
	height: 18px;
	/* background: yellow; */
	position: absolute;
	bottom: 20px;
	right: 320px;
}
.lunbodian li{
	width: 16px;
	height: 16px;
	background: rgba(255, 255, 255,0.7);
	border-radius: 50%;
	float: left;
	margin-right: 12px;
}
.lunbodian li:last-child{
	margin-right: 0;
}
.lunbodian li:hover{
	background: #f09321;
}
.icon9{
	font-size: 21px;
	color: #ffffff;
}
.denglu{
	width: 170px;
	height: 430px;
    background: #ffffff;
    float: left;
    border-top: 5px solid #f2f2f2;
    border-bottom: 5px solid #f2f2f2;
}
.denglu-top img{
	display: block;
	margin: 0 auto;
}
.wenzi1115{
	font-size: 11px;
	color: #333333;
	text-align: center;
}
.denglu-top3{
	width: 150px;
	height:22px;
	/* background: green; */
	margin: 13px auto;
}
.denglu-top3-left1{
	width: 68px;
	height: 20px;
	background: #ffffff;
	border: 1px solid #ff9900;
	font-size: 12px;
	color: #ffa114;
	text-align: center;
	line-height: 20px;
	float: left;
}
.r1{
	background: #ffd18c;
	float: right;
	border: 1px solid #ffcb7f;
}
.denglu-top4{
	display: block;
	float: left;
	margin-left: 11px;
}
.denglu-top4 img{
	float: left;
}
.wenzi1116{
	font-size: 11px;
	color: black;
	float: left;
	margin-left: 5px;
}
.wenzi1116:hover{
	color: #f09321;
}
.denglu-top5wenzi{
	display: block;
	width: 170px;
	height: 115px;
	/* background: pink; */
	margin-top: 45px;
	border-top: 1px solid #f2f2f2;
}
.denglu-top5-l1{
	width: 100%;
	height: 50px;
	/* background: green; */
	margin-top: 5px;
}
.top5title{
	display: inline;
	font-size: 11px;
	color: #ff6600;
}
.top5neirong{
	display: inline;
	font-size: 12px;
	color: #333333;	
}
.top5neirong:hover{
	color: #ff6600;
}
.dengludibu{
	width: 170px;
	height: 146px;
	background: lightgoldenrodyellow;
}
.dengludibu li{
	width: 56px;
	height: 72px;
	background: #ffffff;
	border-top: 1px solid #f2f2f2;
	border-right: 1px solid #f2f2f2;
	text-align: center;
	line-height: 22px;
	float: left;
}
.dengludibu li:nth-child(4){
	border-right: none;
}
.dengludibu li:nth-child(7){
	border-right: none;
}
.icon8{
	font-size: 24px;
	color: #ff9900;
	line-height: 40px;
}
.wenzi1117{
	display: block;
	font-size: 11px;
	color: #333333;
	line-height: 20px; 
}
.wenzi1117:hover{
	color: #f09321;
}
/* banner结束 */
/* 大聚惠开始 */
.dajuhui{
    width: 1190px;
    height: 305px;
    /* background: yellowgreen; */
    margin: 20px auto 0;
}
.djh-top{
	width: 100%;
	height: 44px;
	background: #f2f2f2;
	border-bottom: 1px solid #db2726;
}
.djh-top-left{
	width: 190px;
	height: 44px;
	background: #dd2726;
	line-height: 44px;
	float: left;

}
.wenzid1{
	float: left;
	font-size: 20px;
	color: #ffffff;
	margin-left: 15px;
}
.wenzid2{
	float: left;
	font-size: 13px;
	color: #ffffff;
	margin-left: 5px;
}
.djh-top-right{
	width: 115px;
	height: 24px;
	background: #db2726;
	border-radius: 20px;
	float: right;
	margin: 12px 1px 0 0;
	line-height: 24px;
}
.wenzid3{
	font-size: 11px;
	color: #ffffff;
	float: left;
	margin-left: 15px;
}
.icond1{
	font-size: 9px;
	color: #ffffff;
	float: left;
	margin-left: 8px;
}
.djh-bottom{
	width: 100%;
	height: 260px;
	/* background: pink; */
}
.djh-list{
	width: 200px;
	height: 260px;
	background: #ffffff;
	float: left;
	position: relative;
	transition: all 1s;
}
.djh-list:hover .wenzid4{
	color: #ff6600;
}
.djh-list:hover .djh-list1 img{
	transform: scale(1.2, 1.2);
}
.djh-tupian{
	width: 199px;
	height: 184px;
}
.djh-tupian img{
	width: 77px;
	height: 135px;
	margin: 39px 50px 0;
	transition: all 1.5s;
}
.wenzidjh{
	width: 158px;
	height: 67px;
	/* background: pink; */
	padding: 5px 21px 0;
}
.wenzid4{
	font-size: 11px;
	color: #474747;
	line-height: 18px;
}
.djh-jiage{
	width: 144px;
	height: 25px;
	/* background: yellow; */
	margin-top: 5px;
}
.jiage-d1{
	float: left;
	font-size: 12px;
	color: #ff6600;
}
.jiage-d2{
	float: left;
	font-size: 9px;
	color: #999999;
	margin-left: 5px;
	text-decoration: line-through;
}
.shugang{
	width: 1px;
	height: 140px;
	background: #eeeeee;
	position: absolute;
	top: 20px;
	right: 0;
}
/* 大聚惠结束 */
/* 第二层开始 */
.dierceng{
	width: 1190px;
	height: 427px;
	/* background: yellow; */
	margin: 20px auto 0;
}
.haohuo{
	width: 390px;
	height: 100%;
	background: pink;
	float: left;
}
.haohuo-top{
	width: 100%;
	height: 45px;
	background: #3b8c94;
	line-height: 45px;
}
.haohuo-top-left{
	font-size: 18px;
	color: #ffffff;
	float: left;
	margin-left: 15px;
}
.wenzih1{
	float: right;
	font-size: 11px;
	color: #ffffff;
	margin-right: 7px;
}
.iconh1{
	float: right;
	font-size: 9px;
	color: #ffffff;
	margin-right: 9px;
}
.haohuo-bottom1{
	display: block;
    width: 100%;
    height: 382px;
    background: #ffffff;
    overflow: hidden;
}
.haohuo-bottom{
	width: 369px;
	height: 362px;
	/* background: yellow; */
	margin: 11px auto;
}
.haohuo-bottom-list{
	width: 184px;
	height: 120px;
	/* background: lightgoldenrodyellow; */
	border-bottom: 1px solid #e7e7e7;
	float: left;

}
.hhl1{
	border-bottom: none;
}
.haohuo-list1{
	width: 71px;
	height: 100px;
	/* background: pink; */
	padding: 20px 15px 0;
	float: left;
}
.haohuo-list2{
	width: 71px;
	height: 40px;
	/* background: green; */
	margin-top: 10px;
}
.haohuo-list1-title{
	font-size: 11px;
	color: black;
}
.haohuo-list1-title1{
	font-size: 11px;
	color: #3b8c94;
	float: left;
}
.haohuo-list1-title2{
	font-size: 11px;
	color: #999999;
	float: left;
}
.haohuo-bottom img{
	float: left;
}
.zhongxian{
	width: 1px;
	height: 120px;
	background: #e7e7e7;
	float:left;
}
.tese{
	width: 390px;
	height: 100%;
	background: pink;
	float: left;
	margin: 0 10px;
}
.tese-top{
	width: 100%;
	height: 45px;
	background: #e66a07;
	line-height: 45px;
}
.tese-top-left{
	font-size: 18px;
	color: #ffffff;
	float: left;
	margin-left: 15px;
}
.wenzit1{
	float: right;
	font-size: 11px;
	color: #ffffff;
	margin-right: 7px;
}
.icont1{
	float: right;
	font-size: 9px;
	color: #ffffff;
	margin-right: 9px;
}
.tese-bottom1{
	display: block;
    width: 100%;
    height: 382px;
    background: #ffffff;
    overflow: hidden;
}
.tese-bottom{
	width: 369px;
	height: 362px;
	background: yellow;
	margin: 11px auto;
}
.tese-bottom-list{
	width: 184px;
	height: 180px;
	background: #ffffff;
	border-bottom: 1px solid #e7e7e7;
	float: left;
}
.tese-bottom-list img{
    width: 184px;
    height: 105px;
}
.tesel1{
	border-bottom: 1px solid #fff;
}
.tese-bottom-title1{
	width: 86px;
	height: 20px;
	background: #e66a07;
	border-radius: 20px;
	font-size: 12px;
	color: #ffffff;
	text-align: center;
	line-height: 20px;
	margin: 14px 0 0 8px;
}
.tese-bottom-title2{
	font-size: 12px;
	color: #999999;
    margin: 8px 0 19px 16px;
}
.ts-zhongxian{
	width: 1px;
	height: 180px;
	background: #e7e7e7;
	float:left;
}
.paihang{
	width: 390px;
	height: 100%;
	/* background: pink; */
	float: left;
}
.paihang-top{
	width: 100%;
	height: 45px;
	background: #b62323;
	line-height: 45px;
}
.paihang-top-left{
	font-size: 18px;
	color: #ffffff;
	float: left;
	margin-left: 15px;
}
.shangkuang{
	width: 390px;
	height: 190px;
	background: #fff;
	overflow: hidden;
}
.paihang-title1{
	width: 60px;
	height: 20px;
	background: #c72c2c;
	border-radius: 20px;
	font-size: 12px;
	color: #ffffff;
	text-align: center;
	line-height: 20px;
	margin: 24px 0 0 14px;
}
.paihang-list{
	width: 390px;
	height: 141px;
	background: red;
	margin-top: 5px;
}
.ph-list{
	width: 130px;
	height: 141px;
	background: #fff;
	float: left;
}
.ph-wenzi1{
	margin-left: 13px;
	font-size: 11px;
	color: #333;
}
.ph-wenzi2{
	margin-top: 5px;
	margin-left: 13px;
	font-size: 15px;
	color: #b62323;
}
.ph-zhongxianl{
	width: 369px;
	height: 1px;
	background: #e7e7e7;
}
.titleph2{
	margin-top: 8px;
}
.kuangph2{
	height: 170px;
}
.ph-yuandian{
	width: 59px;
	height: 20px;
	/* background: yellow; */
	margin: 0 auto;
	overflow: hidden;
}
.phxiaodian{
	width: 8px;
	height: 8px;
	background: #d8d8d8;
	border-radius: 50%;
	margin: 6px 5px 0;
	float: left;
}
.phxiaodian:hover{
	background: #c72c2c;
}

/* 第二层结束 */
/* 第三层开始 */
.disanceng{
	width: 1190px;
	height: 427px;
	/* background: yellow; */
	margin: 20px auto 0;
}
.tm-bottom-list{
	width: 184px;
	height: 241px;
	float: left;
	border-right: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
}
.tm1{
	background: #c43d7e;
}
.tm-list-title1{
    font-size: 12px;
    color: #333333;
    margin-top: 15px;
}
.tm-list-title2{
	font-size: 12px;
    color: #c43d7e;
    margin-top: 8px;
}
.tm2{
	font-size: 11px;
	color: #999999;
	margin-top: 40px;
}
.tm12{
	margin: 0 10px;
}
.tm11{
	background: #6d55bd;
}
.tm13{
	background: #325bb5;
}
.disiceng{
	width: 1190px;
	height: 530px;
	/* background: yellow; */
	margin: 20px auto 0;
}
.disiceng-left{
	width: 800px;
	height: 530px;
    /* background: pink; */
    float: left;
}
.disiceng-list{
	width: 390px;
	height: 170px;
	/* background: #efae45; */
	background-image: -webkit-linear-gradient(left,#e89621,#f5c467);
	overflow: hidden;
	float: left;
	margin: 0 10px 10px 0;

}
.l-left{
	width: 160px;
	height: 105px;
	/* background: pink; */
	margin: 50px 0 0 35px;
	float: left;
}
.l-left-title1{
	font-size: 20px;
	color: #ffffff;
}
.l-left-title2{
	font-size: 12px;
	color: #ffffff;
	margin-top: 20px;
}
.disiceng-list img{
	width: 135px;
	height: 135px;
	float: left;
	margin: 25px 0 0 30px;
	transition: all 1s;
}
.lt1{
	background-image: -webkit-linear-gradient(left,#325cb5,#4b99fd);
}
.lt2{
	background-image: -webkit-linear-gradient(left,#1d9eaf,#3fcba7);
}
.lt3{
	background-image: -webkit-linear-gradient(left,#d23a38,#de6c4e);
}
.lt4{
	background-image: -webkit-linear-gradient(left,#ca4384,#ea74cd);
}
.lt5{
	background-image: -webkit-linear-gradient(left,#5e40c1,#8b5eda);
}
.disiceng-list:hover img{
	transform: translateX(-8px);
}
.shipin{
	width: 390px;
	height: 100%;
	background: #fff;
	float: left;
}
.shipin-top{
    width: 390px;
    height: 45px;
    background: #3f3435;
    overflow: hidden;
}
.sp-top-wenzi{
	font-size: 20px;
	color: #fff;
	margin: 15px;
}
.sp-datu{
	width: 390px;
	height: 227px;
	position: relative;
}
.sp-datu img{
	width: 390px;
	height: 227px;
}
.datu-wenzi{
	width: 390px;
	height: 45px;
	background: rgba(0, 0, 0, 0.5);
	line-height: 45px;
	position: absolute;
	left: 0;
	bottom: 0;
}
.dtwenzi{
    font-size: 9px;
    color: #fff;
    margin-left: 50px;
}
.iconsp1{
	font-size: 58px;
	color: #fff;
	position: absolute;
	top: 81px;
	left: 168px;
}
.iconsp1:hover{
	color: #ff9900;
}
.huifang{
    width: 59px;
    height: 18px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    line-height: 18px;
    position: absolute;
    top: 20px;
    left: 40px;
}
.iconsp3{
	font-size: 12px;
	color: #ff9900;
	float: left;
	margin-left: 5px;
}
.iconsp2:hover{
	color: #ff9900;
}
.hfwenzi{
	font-size: 12px;
	color: #fff;
	float: right;
	margin-right: 5px;
}
.shipin-center{
	width: 390px;
	height: 73px;
	background: black;
	margin-top: 5px;
}
.sp-list{
	width: 128px;
	height: 73px;
	border-right: 3px solid #fff; 
	position: relative;
	float: left;
}
.sp-list img{
	width: 128px;
	height: 73px;
}
.iconsp2{
	font-size: 25px;
	color: #fff;
	position: absolute;
	top: 20px;
	left: 50px;
}
.sp-list-wenzi{
	font-size: 12px;
	color: #fff;
	text-align: center;
	position: absolute;
	left: 8px;
	bottom: 5px;
}
.spl1{
	border: none;
}
.shipin-dibu{
	width: 390px;
	height: 170px;
	/* background: yellow; */
	margin-top: 10px;
}
.sp-dlist{
	width: 190px;
	height: 170px;
	/* background: #75a766; */
	text-align: center;
	overflow: hidden;
	float: left;
	background-image: -webkit-linear-gradient(left,#70a366,#9ec666);
}
.spd-title1{
	font-size: 20px;
	color: #fff;
	margin-top: 20px;
}
.spd-title2{
	font-size: 12px;
	color: #fff;
	margin-top: 12px;
}
.sp-dlist img{
    width: 179px;
    height: 90px;
    margin-top: 5px;
    transition: all 1s;
}
.sp-dlist:hover img{
	transform: translateX(-8px);
}
.spd2{
	margin-left: 10px;
	/* background: #4228be; */
	background-image: -webkit-linear-gradient(left,#4125bc,#576ee8);
}
/* 第四层结束 */
.zhongjiantu{
	width: 1190px;
	height: 100px;
	/* background: green; */
	margin: 20px auto 0;
}
.zjt{
	width: 395px;
	height: 100px;
	background: yellow;
	float: left;
}
/* .zjt-left{
	width: 150px;
	height: 42px;
	padding: 29px 0 0 24px;
	float: left;
}
.zjt-title1{
	font-size: 17px;
	color: #333;
}
.zjt-title2{
	font-size: 13px;
	color: #333;
	margin-top: 10px;
} */
.zjt img{
	width: 395px;
	height: 100px;
}


/* 第五层开始 */
.diwuceng{
	width: 1190px;
	height: 567px;
	/* background: pink; */
	margin: 20px auto 0;
}
.diwuceng-left{
	width: 590px;
	height: 100%;
	/* background: lightgoldenrodyellow; */
	float: left;
}
.remen-top{
	width: 590px;
	height:45px;
	background: #f0f7f4;
	border-top: 2px solid #33ae75;
}
.remen-top-left{
	width: 190px;
	height: 45px;
	background: #33ae75;
	line-height: 45px;
	float: left;
}
.wenzirm1{
	font-size: 20px;
	color: #ffffff;
	margin-left: 15px;
	float: left;
}
/* .remen-top-left img{
	float: left;
	margin: 11px 0 0 10px;
} */
.iconewm{
	float: left;
	color: #fff;
	font-size: 30px;
	margin-left: 10px;
}
.remen-top-right{
	width: 272px;
	height: 100%;
	/* background: pink; */
	float: right;
	line-height: 45px;
}
.remen-top-right-title{
	display: block;
	font-size: 12px;
	color: #666666;
	margin-right: 20px;
	float: left;
}
.remen-top-right-title:hover{
	color: #ffaa00;
}
.remen-center{
	display: block;
	width: 590px;
	height: 360px;
	background: #ffffff;
}
.remen-center-left{
	width: 190px;
	height: 360px;
	background: white;
	float: left;
}
.remen-center-left1{
	width: 190px;
	height: 90px;
	background: #80c6a0;
	line-height: 30px;
	text-align: center;
	overflow: hidden;
	margin-top: -3px;
}
.remen-center-left1-title1{
	font-size: 20px;
	color: #ffffff;
	margin-top: 15px;
}
.remen-center-left1-title2{
	font-size: 10px;
	color: #ffffff;
}
.remen-center-right{
	width: 400px;
	height: 360px;
	/* background: black; */
	float: left;
}
.remen--center-list{
	width: 199px;
	height: 179px;
	border-left: 1px solid #eeeeee;
	border-right: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
	text-align: center;
	overflow: hidden;
	float: left;
}
.remen--center-list-title1{
	font-size: 16px;
	color: black;
	margin-top: 15px;
}
.remen--center-list-title2{
	font-size: 11px;
	color: #33ae75;
	margin: 7px 0;
}
.remen--center-list img{
    width: 96px;
    height: 110px;
    transition: all 1s;
}
.remen--center-list:hover img{
	transform: scale(1.1, 1.1);
}
.rml1{
	border-left: none;
	border-right: none;
	float: left;
}
.remen-bottom1{
	display: block;
	width: 590px;
	height: 110px;
	/* background: greenyellow; */

}
.remen-bottom-list{
	width: 189px;
	height: 110px;
	background: #ffffff;
	border-bottom: 1px solid #eeeeee;
	border-right: 1px solid #eeeeee;
	float: left;
}
.rm-list-wenzi{
	width: 95px;
	height: 110px;
	/* background: pink; */
	float: left;
}
.rm-list-wenzi1{
	font-size: 12px;
	color: black;
	margin-top: 20px;
	margin-left: 20px;
}
.rm-list-wenzi2{
	font-size: 11px;
	color: #80c6a0;
	margin-top: 10px;
	margin-left: 20px;
}
.remen-bottom-list img{
	float: left;
	width: 70px;
	height: 80px;
	margin-top: 20px;
	transition: all 1s;
}
.remen-bottom-list:hover img{
	transform: scale(1.1, 1.1);
}
.rml3{
	width: 199px;
	border-right:none;
}
.rml2{
	width: 200px;
}
.rmlogo{
	width: 590px;
	height: 50px;
	background: #fff;
}
.rmlogo-list{
	width: 85px;
	height: 50px;
	margin-right: 16px;
	float: left;
}
.rmlogo-list:last-child{
   margin-right: 0;
}
.rightdwc{
	margin-left: 10px;
}
.topdwc{
	border-top: 2px solid #2eaba3;
}
.topldwc{
	background: #2eaba3;
}
.center-left1dwc{
	background: #4c9793;
}
.center-list-title2dwc{
	color: #2eaba3;
}
.list-wenzi2dwc{
	color: #2eaba3;
}
/* 第五层结束 */
/* 第六层开始 */
.diliuceng{
	width: 1190px;
	height: 457px;
	/* background: pink; */
	margin: 20px auto;
}
.diliucengtop{
	width: 1190px;
	background: #eff0f8;
	border-top: 2px solid #5f6cb7;
}
.diliucengtop-left{
	background: #5f6cb7;
}
.diliucengcenter-left1{
	background: #5f6cb7;
}
.diliucengcenter-list-title2{
	color:#5f6cb7 ;
}
.diliucengcenter0{
	float: left;
}
.diliucengzhongjian{
	width: 1190px;
	height: 360px;
}
.diliucengcenter1{
	width: 600px;
	float: left;
}
.center-leftdiliuceng{
	width: 199px;
}
.diliuceng-logo{
	width: 1190px;
	height:50px; 
	background: #fff;
}
.diliuceng-logo1{
	float: left;
}
.diliuceng-logo2{
	float: left;
	margin-left: 10px;
}
.diliucengcenter-left2{
	background: #9495b8;
}
.diliucengcenter-left3{
    width: 200px;
    height: 75px;
    background: #f5f5f5;
}
.jydqtitle1{
	color: #5f6cb7;
}
.cainixihuan{
    width: 1190px;
    height: 393px;
}
.cnxhtop{
	width: 1190px;
	height: 52px;
	border-bottom: none;
}
.cnxhtitle0{
    height: 21px;
    background: #f2f2f2;
    border-left: 3px solid #fe9901;
    margin-top: 10px;
    line-height: 21px;
    color: #333;
    padding-left: 20px;
    margin-top: 15px;
}
.cnxhbottom{
	width: 1190px;
	height: 341px;
	background: black;
}
.cnxhlist{
	width: 237px;
	height: 340px;
	border-left: 1px solid #eee;
	border-bottom: 1px solid #eee;
}
.cnxhbottom{
	height: 341px;
	background: pink;
}
.cnxhtupian{
	width: 237px;
	height: 226px;
}
.cnxhtupian img{
	width: 180px;
	height: 190px;
	margin: 20px 0 0 40px ;
	transition: all 1s;
}
.djh-list:hover .cnxhtupian img{
	transform: scale(1.1, 1.1);
}
.cnxhwenzi1{
	width: 196px;
	height: 100px;
	/* background: pink; */
	padding: 15px 21px 0;
}
.wenzid4{
	font-size: 11px;
	color: #474747;
	line-height: 18px;
}
.cnxhjiage{
	width: 144px;
	height: 25px;
	/* background: yellow; */
	margin-top: 10px;
}
.jiage-d1{
	float: left;
	font-size: 12px;
	color: #ff6600;
}
/* 猜你喜欢结束 */
/* 底部 */
.dibu{
	width: 100%;
	height: 517px;
	background: lightgoldenrodyellow;
}
.dibu-top{
	width: 100%;
	height: 64px;
	background: #f2f2f2;
	overflow: hidden;
}
.dibu-top-xian{
	width: 98px;
	height: 1px;
	background: #cccccc;
	margin:27px 0 0 530px;
	float: left;
}
.dibu-top-wenzi{
	font-size: 20px;
	color: #cccccc;
    float: left;
    margin:17px 0 0 20px;
}
.dbx2{
	margin-left: 20px;
}
.dibu-center{
	width: 100%;
	height: 278px;
	background: #f5f5f5;
	border-top: 1px solid #e7e7e7;
}
.dibu-center-top{
	width: 1190px;
	height: 97px;
	background: #f5f5f5;
	border-bottom: 1px solid #e7e7e7;
	margin: 0 auto;
}
.dibu-center-top-list{
	width: 166px;
	height: 97px;
	/* background: pink; */
	margin-right: 82px;
	overflow: hidden;
	float: left;
}
.dbt-left{
	width: 50px;
	height: 50px;
	border-radius: 50%;
    background: #ffaa01;
    text-align: center;
    line-height: 50px;
    margin: 10px 7px 0 0;
    float: left;
}
.icondb1{
    font-size: 30px;
    color: #fff;
}
.dbt-right{
	width: 108px;
	height: 97px;
	/* background: #fff; */
	float: left;
}
.dbt-right-title1{
	display: block;
    font-size: 18px;
    color: black;
    margin-top: 10px;
}
.dbt-right-title1:hover{
	color: #ff9900;
}
.dbt-right-title2{
    font-size: 11px;
    color: #545454;
    margin-top: 10px;
}
.dibu-center-top-list:last-child{
	margin-right: 0;
}
.dibu-center-bottom{
	width: 1190px;
	height: 180px;
	/* background: yellowgreen; */
	margin: 0 auto;
}
.dibu-center-bottom-list{
    width: 100px;
    height: 180px;
    /* background: pink; */
    float: left;
    line-height: 21px;
    margin-right: 110px;
}
.dibu-center-bottom-list:last-child{
	margin-right: 0;
}
.dibu-center-bottom-list-wenzi1{
   font-size: 15px;
   color: #333;
   margin-top: 10px;
}
.dibu-center-bottom-list-wenzi2{
	display: block;
   font-size: 9px;
   color: #545454;
}
.dibu-center-bottom-list-wenzi2:hover{
    color: #ff9900;
}
.dibu-bottom{
	width: 100%;
	height: 175px;
	background: #fff;
	overflow: hidden;
}
.dibu-bottom-list1{
	width: 748px;
	height: 20px;
	/* background: pink; */
	text-align: center;
	line-height: 20px;
	margin: 10px auto;
}
.db-bottom-wenzi{
    font-size: 12px;
    color: #999;
    padding-right: 5px;
    border-right: 1px solid #666;
}
.wenzid{
	padding: 0;
	border-right: none;
}
.db-bottom-wenzi2{
	display: inline;
    font-size: 12px;
    color: #999;
    padding-right: 5px;
    border-right: 1px solid #666;
}
.db-bottom-wenzi6{
	display: inline;
    font-size: 12px;
    color: #999;
    }
.wenzi000{
    font-size: 12px;
    color: #999;
}
.db-bottom-wenzi3{
    font-size: 12px;
    color: #666;
    padding-right: 5px;
    border-right: 1px solid #666;
}
.db-bottom-wenzi4{
    font-size: 12px;
    color: #666;
   /*  padding-right: 5px;
    border-right: 1px solid #666; */
}
.db-bottom-wenzi5{
    font-size: 12px;
    color: #999;
}
.db11{
	width: 20px;
	height: 20px;
	margin-bottom: 0;
}
.dibu-biaozhi{
	width: 100%;
	height: 30px;
	text-align: center;
}
